.box 
	{
      width: 160px;
      height: 60px;
      background-color: #0e86d4;
      transform: skew(20deg);
      margin: 50px;
	  border: solid black 3px;
	  display: flex;
	  align-items: center; 
      justify-content: center;
	  margin-left: 3px;
	  margin-right: 3px;
	  border-radius: 10px;
    }
	
	.boxText
	{
		transform: skew(-20deg);
		text-align: center;
	}
			
	.boxWrapper
	{
		display: flex;
		justify-content: center;
		align-items: start;
	}
	
	.boxWrapperLine
	{
		display: flex;
		justify-content: center;
		align-items: start;
		margin-top: -75px;
	}
	
	.logoWrap
	{
		margin-left:5px;
		margin-right:20px;
	}
	
	.plainBlackLink
	{
		color: black;
		text-decoration: none;
	}
	
	.backgroundColor
	{
		background-color: #f2f1e2;
	}
	
	.loginButton
	{
	  width: 120px;
      height: 50px;
      background-color: #f76201;
      margin: 50px;
	  border: solid black 3px;
	  margin-left: 3px;
	  margin-right: 3px;
	  border-radius: 50px;
	  text-align: center;
	}
	
	.loginButtonAlign
	{
	margin-top: -120px;
	margin-right: -900px;
	  display: flex;
	  align-items: center; 
      justify-content: center;
	}
	
	.silhouetteAlign
	{
	display: flex;
	  align-items: center; 
      justify-content: center;
		margin-top: -115px;
		margin-right: -1045px;
	}
	
	.spaceBetweenTopBorderandWelcome
	{
		padding-top: 30px;
	}
	
	.alignWelcomeTextCenter
	{
		text-align: center;
	}
	
	.homeImageOneHolder
	{
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 50px;
		margin-right: 750px;
	}
	
	.homeImageTwoHolder
	{
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: -250px;
		margin-right: -750px;

	}
	
	.homeImageThreeHolder
	{
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: -160px;
	}
	
	.centerAlignandFormatHomeParagraph
	{
		text-align: center;
		font-size: 20px;
		margin-left: 200px;
		margin-right: 200px;
	}
	
	.spaceBeforeHomeParagraph
	{
		padding-top: 150px;
		font-style: italic;
		font-size: 20px;
	}
	
	.footerFlexBox
	{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
	
	.aboutButton
	{
		width: 100px;
      height: 50px;
      background-color: #0e86d4;
	  border: solid black 3px;
	  text-align: center;
	  border-radius: 10px;
	}
	
	.box:hover
	{
		background-color: #f76201;
		box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
	}
	
	.aboutButton:hover
	{
		background-color: #f76201;
		box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
	}
	
	.loginButton:hover
	{
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
	}
	
	.preventHorizontalScrolling
	{
		overflow-x: hidden;
	}
	
	.centerIFrame
	{
		margin-top: 100px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding-bottom: 30px;
	}
	
	.arrangeGames {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  max-width: calc((175px + 20px + 20px) * 4); 
  margin: 0 auto; 
}

.gameBackground {
  background-color: gray;
  display: inline-block;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  width: 175px;
  border: solid black 2px;
}

.gameWindowBorder {
  position: relative;
  width: 175px;
  height: 150px;
}

.playButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centerAlignText
{
	text-align: center;
}

.limitBlockQuoteMargin
{
	margin-left: 200px;
		margin-right: 200px;
}

.evenlySpaceDownloadIconAndVideo
{
	margin-left: 300px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 150px;
}

.evenlySpaceUploadIconAndText
{
	margin-left: 300px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 80px;
}

.formatImportBox
{
	width: 800px;
      height: 200px;
      background-color: #FFFFFF;
      margin: 50px;
	  border: dotted black 3px;
	  display: flex;
	  align-items: center; 
      justify-content: center;
	  margin-left: 450px;
	  margin-top: -40px;
	  border-radius: 10px;
}

.changeImportPageParagraphSize
{
	font-size: 20px;
}

.moveParaghaphBelowUploadButton
{
	position: absolute;
  top: 500px;     
  left: 325px;     
}

.ThreeColumnHolder {
  display: flex;
  justify-content: center;
  padding: 100px;
}

.column {
  flex: 1;
  padding: 10px;
  text-align: center;
}

.column img {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-top: 10px;
}

.centerTestimonials
{
	display: flex;
	justify-content: center;
	align-items: center;
}

.limitReviewText
{
	 max-width: 600px;     
  margin: 0 auto;   
  padding: 10px;    
  text-align: center;  
}

.positionProfilePicandText
{
	display: flex;
	justify-content: center;
		align-items: center;

}

.formatTable
{
	border: solid black 3px;
	border-collapse: collapse;
}

.centerRegistrationandLogin
{
	display: flex;
	justify-content: center;
	align-items: center;
}

.drawVerticalLine
{
	width: 5px;
      height:  600px;
      background-color: black;
	  margin-left: 25px;
	  margin-right: 25px;
     
}

p
{
		font-family: Verdana, sans-serif;
}

h3
{
	font-family: Tahoma, sans-serif;
}

h2
{
	font-family: Georgia, serif;;
}

.video-iframe {
  border: none;
}






